body {
  background: black;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#walrus-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.eat {
  color: red;
}
.mlem {
  color: turquoise;
}
#otter-showing {
  display: none;
}
.otters {
  width: 30%;
  height: 30%;
}
#mlem-showing {
  display: none;
}
